@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

body{
    background-color: #000000d4;
}

span{
    color: blue;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    list-style-type: none;
    
}


.nav-logo img{
    width:50px ;
}

.container img{
    width: 200px;
}

.tecnologias {
  text-align: center;
  padding: 60px 20px;
  background-color: #0d1117;
  color: #fff;
}

.tecnologias h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #00bcd4;
}

.tecnologias p {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 1.1em;
  line-height: 1.6;
}

.tech-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.tech-icons img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.tech-icons img:hover {
  transform: scale(1.2);
}

/* MENU PRINCIPAL */
#menu {
	background: linear-gradient(to bottom, #00B8F5, #4B2D3C);
	height: 69px;
	padding: 0 18px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

/* LOGO */
.nav-logo img {
	height: 55px;
	width: auto;
	border-radius: 8px;
}

/* LISTA PRINCIPAL */
#menu {
    background: #0099CC;
    background: linear-gradient(to bottom,  #00739A,  #DD84B1);
    height: 80px;
    padding-right: 18px;
    border-radius: 0px;
}
#menu ul, #menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}
#menu ul {
    width: 100%;
    text-align: right;
}
#menu li {
    display: inline-block;
    position: relative;
}
#menu a {
    display: block;
    line-height: 80px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}
#menu li a:hover {
    color: #FFFFFF;
    background: #0099CC;
}
#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}
#menu label {
    display: none;
}